<section class="default">
	<div class="container">
    <div class="col12">
      <img class="about" src="/assets/images/portfolio_img.png" />
    </div>
		<header class="col12">
			<h1 class="special">About</h1>
			<h2 class="special"><span>Problem Solving + Design + Coding + Star Wars</span></h2>
		</header>
    <div class="col9 pre3">
      <p class="align-center">Hi I'm Alana. I'm a front-end developer based in Brooklyn New York. I eat, sleep, code. Well, let's be real. I sometimes take breaks to hangout with my husband and our dog. Let's work together!</p>
    </div>
	</div>
   <div class="clear-both"></div>
</section>
<section class="page">
  <div class="container">
    <div class="col4 one-third-tab align-center">
       <span class="icon-github large"></span>
    </div>
    <div class="col8 two-third-tab">
      <p><b>Developer Series</b></p>
      <p>Where do developers go? I love tackling new projects or solving problems for existing ones. You can see some of my personal projects, my portfolio code and contributions.</p>
      <p><a class="button" href="https://github.com/alanatreimanis" target="_blank">Check My GitHub</a></p>
    </div>
  </div>
  <div class="clear-both"></div>
</section>
<section class="page color">
  <div class="container align-center">
    <h2 class="special"><span>What I work with</span></h2>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-javascript"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-python"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-html5"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-css3_full"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-sass"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-django"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-nodejs"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-angular"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-postgresql"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-jquery"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-gulp"></span></p>
    </div>
    <div class="col2">
      <p class="dev"><span class="devicons devicons-photoshop"></span></p>
    </div>
    <div class="clear-both"></div>
  </div>
</section>
<section class="page-regular">
  <div class="container">
    <div class="col8 two-third-tab align-right">
      <p><b>Available for hire</b></p>
      <p>I'm always looking for new and exiting projects to take on. If you'd like to work together, you can find me on <a href="">Twitter</a>, <a href="">LinkedIn</a>, and <a href="">Skype</a>. Or feel free to drop me a line or contact me at </p>
      <p class="hard-copy"><a href="" class="special-hover">alanaruthanderson@gmail.com</a></p>
    </div>
     <div class="col4 one-third-tab align-center">
       <span class="icon-mug large"></span>
    </div>
  </div>
  <div class="clear-both"></div>
</section>

