<footer class="info">
  <div class="container">
  	<div class="col8 align-left">
  		<span class="main-logo move-text"><a href="/">Aa</a></span>
  		<p class="classic">Made with love in NYC</p>
	  	<p class="hard-copy">alanaanderson.nyc &copy; 2016 Alana Anderson</p>
	</div>
	<div class="col4 two-third-tab align-right mobile-center">
		<br><br>
	  <p id="toTop" class="classic"><a href="#">To top</a></p>
	  <p class="hard-copy">
	  	<a href="https://github.com/alanatreimanis" target="_blank" class="footer-icon"><span class="icon-github"></span></a>
	  	<a href="https://www.linkedin.com/in/alana-anderson-bb432039" target="_blank" class="footer-icon"><span class="icon-linkedin-square"></span></a>
	  	<a href="https://twitter.com/AlanaPraymana" target="_blank" class="footer-icon"><span class="icon-twitter"></span></a>
	  	<a href="https://www.instagram.com/alanaandeerson/" target="_blank" class="footer-icon"><span class="icon-instagram"></span></a>
	  </p>
	</div>
  </div>
  <div class="clear-both"></div>
</footer>