<div class="col4">
		<a href="#/work/{{$ctrl.projectData.id}}">
		<figure class="effect-zoe">
				<img src="/assets/images/{{$ctrl.projectData.mainPictureUrl}}" alt="{{$ctrl.projectData.title}}"/>
				<figcaption>
					<h2><a href="#/work/{{$ctrl.projectData.id}}">{{$ctrl.projectData.title}}</a><br>
					<span class="hard-copy">{{$ctrl.projectData.subTitle}}</span></h2>
					<p class="description align-center"></p>
				</figcaption>			
			</figure>
		</a>
  <!-- 
  		<a href="#/work/{{$ctrl.projectData.id}}">
    <img class="full-width" src="/assets/images/{{$ctrl.projectData.mainPictureUrl}}" alt="{{$ctrl.projectData.title}}" />
  </a>
  -->
</div>