<header class="headroom" id="top">
  <nav>
	<div class="container">
		<div class="col3">
			<span class="burger" onclick="openNav()">☰</span><span class="main-logo move-text"><a href="/">Aa</a></span>
		</div>
		<div class="col9 two-third-tab align-right nav-align">
			<a class="item" href="#/">Work</a>
			<a class="item" href="#/about">About</a>
			<a class="item" href="/assets/alana_anderson_resume.pdf">Resume</a>
		</div>
		<div id="myNav" class="overlay">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		  <div class="overlay-content">
		    <a class="item" href="#/" onclick="closeNav()">Work</a>
			<a class="item" href="#/about" onclick="closeNav()">About</a>
			<a class="item" href="https://www.linkedin.com/in/alana-anderson-bb432039" target="_blank">LinkedIn</a>
			<a class="item" href="https://github.com/alanatreimanis" target="_blank">Github</a>
		  </div>
		</div>
	</div>
  </nav>
</header>
